.organization-layout {
  $header-height: 64px;
  $content-height: calc(100vh - 64px);

  .trigger {
    font-size: 18px;
    line-height: $header-height;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    background: rgba(0, 0, 0, 0.2);
    margin: 16px;
  }

  .organization-layout-background {
    background: #fff;
  }

  .ant-menu {
    .ant-menu-item:first-child {
      margin-top: 0;
    }
  }

  .organization-header {
    // position: fixed;
    // top: 0;
    // z-index: 1;
    // width: 100%;
    // height: $header-height;
    header {
      padding: 0;
    }
  }

  .organization-content {
    // margin-top: $header-height;
    height: $content-height;
  }
}
